accountservice/src/main/resources/accountservice.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<!DOCTYPE xs:schema [
        <!ELEMENT xs:schema (xs:element|xs:complexType)*>
        <!ATTLIST xs:schema
                version CDATA #REQUIRED
                targetNamespace CDATA #REQUIRED
                xmlns:tns CDATA #REQUIRED
                xmlns:xs CDATA #REQUIRED>
        <!ELEMENT xs:element (xs:complexType)*>
        <!ATTLIST xs:element
                form CDATA #IMPLIED
                maxOccurs CDATA #IMPLIED
                name CDATA #IMPLIED
                nillable CDATA #IMPLIED
                ref CDATA #IMPLIED
                type CDATA #IMPLIED>
        <!ELEMENT xs:complexType (xs:sequence)*>
        <!ATTLIST xs:complexType
                name CDATA #IMPLIED>
        <!ELEMENT xs:sequence (xs:element)*>
        ]>
<xs:schema version="1.0" targetNamespace="com.advantage.online.store.accountservice" xmlns:tns="com.advantage.online.store.accountservice" xmlns:xs="http://www.w3.org/2001/XMLSchema">

  <xs:element name="AccountCreateRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="lastName" type="xs:string" form="qualified"/>
        <xs:element name="firstName" type="xs:string" form="qualified"/>
        <xs:element name="loginName" type="xs:string" form="qualified"/>
        <xs:element name="countryId" type="xs:long" form="qualified"/>
        <xs:element name="stateProvince" type="xs:string" form="qualified"/>
        <xs:element name="cityName" type="xs:string" form="qualified"/>
        <xs:element name="address" type="xs:string" form="qualified"/>
        <xs:element name="zipcode" type="xs:string" form="qualified"/>
        <xs:element name="phoneNumber" type="xs:string" form="qualified"/>
        <xs:element name="email" type="xs:string" form="qualified"/>
        <xs:element name="password" type="xs:string" form="qualified"/>
        <xs:element name="accountType" type="xs:int" form="qualified"/>
        <xs:element name="allowOffersPromotion" type="xs:boolean" form="qualified"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>





  <xs:element name="AccountCreateResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="StatusMessage" form="qualified">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="success" type="tns:responseReason" form="qualified"/>
              <xs:element name="userId" type="xs:long" form="qualified"/>
              <xs:element name="reason" type="xs:string" form="qualified"/>
              <xs:element name="token" type="xs:string" form="qualified"/>
              <xs:element name="sessionId" type="xs:string" form="qualified"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:element name="AccountDeleteRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="accountId" type="xs:long" form="qualified"/>
        <xs:element name="base64Token" type="xs:string" form="qualified"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AccountPermanentDeleteRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="accountId" type="xs:long" form="qualified"/>
        <xs:element name="base64Token" type="xs:string" form="qualified"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:element name="AccountDeleteResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="StatusMessage" form="qualified">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="success" type="tns:responseReason" form="qualified"/>
              <xs:element name="userId" type="xs:long" form="qualified"/>
              <xs:element name="reason" type="xs:string" form="qualified"/>
              <xs:element name="token" type="xs:string" form="qualified"/>
              <xs:element name="sessionId" type="xs:string" form="qualified"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:element name="AccountPermanentDeleteResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="StatusMessage" form="qualified">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="success" type="tns:responseReason" form="qualified"/>
              <xs:element name="OrderHeaderDelete" type="xs:boolean" form="qualified"/>
              <xs:element name="OrderLinesDelete" type="xs:boolean" form="qualified"/>
              <xs:element name="ShippingAddressDelete" type="xs:boolean" form="qualified"/>
              <xs:element name="PaymentPreferenceDelete" type="xs:boolean" form="qualified"/>
              <xs:element name="AccountDelete" type="xs:boolean" form="qualified"/>
              <xs:element name="IsSuccess" type="xs:boolean" form="qualified"/>
              <xs:element name="Reason" type="xs:string" form="qualified"/>
           </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:element name="AccountDto" nillable="true" type="xs:anyType"/>

  <xs:element name="AccountLoginRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="loginUser" type="xs:string" form="qualified"/>
        <xs:element name="email" type="xs:string" form="qualified"/>
        <xs:element name="loginPassword" type="xs:string" form="qualified"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:element name="AccountLoginResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="StatusMessage" form="qualified">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="success" type="tns:responseReason" form="qualified"/>
              <xs:element name="userId" type="xs:long" form="qualified"/>
              <xs:element name="reason" type="xs:string" form="qualified"/>
              <xs:element name="token" type="xs:string" form="qualified"/>
              <xs:element name="sessionId" type="xs:string" form="qualified"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:element name="AccountLogoutRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="loginUser" type="xs:string" form="qualified"/>
        <xs:element name="base64Token" type="xs:string" form="qualified"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:element name="AccountLogoutResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="StatusMessage" form="qualified">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="success" type="tns:responseReason" form="qualified"/>
              <xs:element name="userId" type="xs:long" form="qualified"/>
              <xs:element name="reason" type="xs:string" form="qualified"/>
              <xs:element name="token" type="xs:string" form="qualified"/>
              <xs:element name="sessionId" type="xs:string" form="qualified"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:element name="AccountStatusResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="success" type="tns:responseReason" form="qualified"/>
        <xs:element name="userId" type="xs:long" form="qualified"/>
        <xs:element name="reason" type="xs:string" form="qualified"/>
        <xs:element name="token" type="xs:string" form="qualified"/>
        <xs:element name="sessionId" type="xs:string" form="qualified"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:element name="AccountUpdateRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="accountId" type="xs:long" form="qualified"/>
        <xs:element name="lastName" type="xs:string" form="qualified"/>
        <xs:element name="firstName" type="xs:string" form="qualified"/>
        <xs:element name="countryId" type="xs:long" form="qualified"/>
        <xs:element name="stateProvince" type="xs:string" form="qualified"/>
        <xs:element name="cityName" type="xs:string" form="qualified"/>
        <xs:element name="address" type="xs:string" form="qualified"/>
        <xs:element name="zipcode" type="xs:string" form="qualified"/>
        <xs:element name="phoneNumber" type="xs:string" form="qualified"/>
        <xs:element name="email" type="xs:string" form="qualified"/>
        <xs:element name="accountType" type="xs:int" form="qualified"/>
        <xs:element name="allowOffersPromotion" type="xs:boolean" form="qualified"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:element name="AccountUpdateResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="StatusMessage" form="qualified">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="success" type="tns:responseReason" form="qualified"/>
              <xs:element name="userId" type="xs:long" form="qualified"/>
              <xs:element name="reason" type="xs:string" form="qualified"/>
              <xs:element name="token" type="xs:string" form="qualified"/>
              <xs:element name="sessionId" type="xs:string" form="qualified"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:element name="AddAddressesRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="address" form="qualified" maxOccurs="unbounded">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="addressLine1" type="xs:string" form="qualified"/>
              <xs:element name="addressLine2" type="xs:string" form="qualified"/>
              <xs:element name="city" type="xs:string" form="qualified"/>
              <xs:element name="country" type="xs:string" form="qualified"/>
              <xs:element name="state" type="xs:string" form="qualified"/>
              <xs:element name="postalCode" type="xs:string" form="qualified"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="accountId" type="xs:long" form="qualified"/>
        <xs:element name="base64Token" type="xs:string" form="qualified"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:element name="AddMasterCreditMethodRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="cardNumber" type="xs:string" form="qualified"/>
        <xs:element name="expirationDate" type="xs:string" form="qualified"/>
        <xs:element name="cvvNumber" type="xs:string" form="qualified"/>
        <xs:element name="customerName" type="xs:string" form="qualified"/>
        <xs:element name="accountId" type="xs:long" form="qualified"/>
        <xs:element name="base64Token" type="xs:string" form="qualified"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:element name="AddSafePayMethodRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="accountId" type="xs:long" form="qualified"/>
        <xs:element name="safePayUsername" type="xs:string" form="qualified"/>
        <xs:element name="safePayPassword" type="xs:string" form="qualified"/>
        <xs:element name="base64Token" type="xs:string" form="qualified"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:element name="AddSafePayMethodResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="StatusMessage" form="qualified">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="success" type="tns:responseReason" form="qualified"/>
              <xs:element name="id" type="xs:long" form="qualified"/>
              <xs:element name="reason" type="xs:string" form="qualified"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:element name="Address" nillable="true" type="xs:anyType"/>

  <xs:element name="AddressStatusResponse" nillable="true" type="xs:anyType"/>

  <xs:element name="AddressUpdateRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="address" form="qualified">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="id" type="xs:long" form="qualified" nillable="true"/>
              <xs:element name="addressLine1" type="xs:string" form="qualified"/>
              <xs:element name="addressLine2" type="xs:string" form="qualified"/>
              <xs:element name="city" type="xs:string" form="qualified"/>
              <xs:element name="country" type="xs:string" form="qualified"/>
              <xs:element name="state" type="xs:string" form="qualified"/>
              <xs:element name="postalCode" type="xs:string" form="qualified"/>
              <xs:element name="accountId" type="xs:long" form="qualified"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="base64Token" type="xs:string" form="qualified"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:element name="AddressUpdateResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="StatusMessage" form="qualified">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="success" type="tns:responseReason" form="qualified"/>
              <xs:element name="reason" type="xs:boolean" form="qualified"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:element name="ChangePasswordRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="accountId" type="xs:long" form="qualified"/>
        <xs:element name="oldPassword" type="xs:string" form="qualified"/>
        <xs:element name="newPassword" type="xs:string" form="qualified"/>
        <xs:element name="base64Token" type="xs:string" form="qualified"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:element name="ChangePasswordResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="StatusMessage" form="qualified">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="success" type="tns:responseReason" form="qualified"/>
              <xs:element name="userId" type="xs:long" form="qualified"/>
              <xs:element name="reason" type="xs:string" form="qualified"/>
              <xs:element name="token" type="xs:string" form="qualified"/>
              <xs:element name="sessionId" type="xs:string" form="qualified"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:element name="Country">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="id" type="xs:long" form="qualified"/>
        <xs:element name="name" type="xs:string" form="qualified"/>
        <xs:element name="isoName" type="xs:string" form="qualified"/>
        <xs:element name="phonePrefix" type="xs:int" form="qualified"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:element name="CountryCreateRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="name" type="xs:string" form="qualified"/>
        <xs:element name="isoName" type="xs:string" form="qualified"/>
        <xs:element name="phonePrefix" type="xs:int" form="qualified"/>
        <xs:element name="base64Token" type="xs:string" form="qualified"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:element name="CountrySearchRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="internationalPhonePrefix" type="xs:int" form="qualified"/>
        <xs:element name="startOfName" type="xs:string" form="qualified"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:element name="CountrySearchResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="tns:Country" maxOccurs="unbounded"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:element name="DeletePaymentPreferenceResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="StatusMessage" form="qualified">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="success" type="tns:responseReason" form="qualified"/>
              <xs:element name="userId" type="xs:long" form="qualified"/>
              <xs:element name="reason" type="xs:string" form="qualified"/>
              <xs:element name="token" type="xs:string" form="qualified"/>
              <xs:element name="sessionId" type="xs:string" form="qualified"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:element name="GetAccountByIdNewRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="accountId" type="xs:long" form="qualified"/>
        <xs:element name="base64Token" type="xs:string" form="qualified"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:element name="GetAccountByIdNewResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="AccountResponse" form="qualified">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="id" type="xs:long" form="qualified"/>
              <xs:element name="lastName" type="xs:string" form="qualified"/>
              <xs:element name="firstName" type="xs:string" form="qualified"/>
              <xs:element name="loginName" type="xs:string" form="qualified"/>
              <xs:element name="accountType" type="xs:int" form="qualified"/>
              <xs:element name="countryId" type="xs:long" form="qualified"/>
              <xs:element name="countryName" type="xs:string" form="qualified"/>
              <xs:element name="countryIsoName" type="xs:string" form="qualified"/>
              <xs:element name="stateProvince" type="xs:string" form="qualified"/>
              <xs:element name="cityName" type="xs:string" form="qualified"/>
              <xs:element name="homeAddress" type="xs:string" form="qualified"/>
              <xs:element name="zipcode" type="xs:string" form="qualified"/>
              <xs:element name="mobilePhone" type="xs:string" form="qualified"/>
              <xs:element name="email" type="xs:string" form="qualified"/>
              <xs:element name="defaultPaymentMethodId" type="xs:long" form="qualified"/>
              <xs:element name="allowOffersPromotion" type="xs:boolean" form="qualified"/>
              <xs:element name="internalUnsuccessfulLoginAttempts" type="xs:int" form="qualified"/>
              <xs:element name="internalUserBlockedFromLoginUntil" type="xs:long" form="qualified"/>
              <xs:element name="internalLastSuccesssulLogin" type="xs:long" form="qualified"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:element name="GetAccountByIdRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="accountId" type="xs:long" form="qualified"/>
        <xs:element name="base64Token" type="xs:string" form="qualified"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:element name="GetAccountByIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="AccountResponse" form="qualified">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="id" type="xs:long" form="qualified"/>
              <xs:element name="lastName" type="xs:string" form="qualified"/>
              <xs:element name="firstName" type="xs:string" form="qualified"/>
              <xs:element name="loginName" type="xs:string" form="qualified"/>
              <xs:element name="accountType" type="xs:int" form="qualified"/>
              <xs:element name="countryId" type="xs:long" form="qualified"/>
              <xs:element name="countryName" type="xs:string" form="qualified"/>
              <xs:element name="countryIsoName" type="xs:string" form="qualified"/>
              <xs:element name="stateProvince" type="xs:string" form="qualified"/>
              <xs:element name="cityName" type="xs:string" form="qualified"/>
              <xs:element name="address" type="xs:string" form="qualified"/>
              <xs:element name="zipcode" type="xs:string" form="qualified"/>
              <xs:element name="phoneNumber" type="xs:string" form="qualified"/>
              <xs:element name="email" type="xs:string" form="qualified"/>
              <xs:element name="defaultPaymentMethodId" type="xs:long" form="qualified"/>
              <xs:element name="allowOffersPromotion" type="xs:boolean" form="qualified"/>
              <xs:element name="internalUnsuccessfulLoginAttempts" type="xs:int" form="qualified"/>
              <xs:element name="internalUserBlockedFromLoginUntil" type="xs:long" form="qualified"/>
              <xs:element name="internalLastSuccesssulLogin" type="xs:long" form="qualified"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:element name="GetAccountConfigurationResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="numberOfFailedLoginAttemptsBeforeBlocking" type="xs:int" form="qualified"/>
        <xs:element name="loginBlockingIntervalInSeconds" type="xs:long" form="qualified"/>
        <xs:element name="productInStockDefaultValue" type="xs:int" form="qualified"/>
        <xs:element name="userSecondWsdl" type="xs:boolean" form="qualified"/>
        <xs:element name="userLoginTimeout" type="xs:int" form="qualified"/>
        <xs:element name="allowUserConfiguration" type="xs:boolean" form="qualified"/>
        <xs:element name="productionHostIp" type="xs:string" form="qualified"/>
        <xs:element name="productionHostName" type="xs:string" form="qualified"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:element name="GetAccountPaymentPreferencesRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="accountId" type="xs:long" form="qualified"/>
        <xs:element name="base64Token" type="xs:string" form="qualified"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:element name="GetAddressesByAccountIdRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="accountId" type="xs:int" form="qualified"/>
        <xs:element name="base64Token" type="xs:string" form="qualified"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:element name="GetAddressesByAccountIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="ShippingAddress" form="qualified" maxOccurs="unbounded">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="id" type="xs:long" form="qualified" nillable="true"/>
              <xs:element name="addressLine1" type="xs:string" form="qualified"/>
              <xs:element name="addressLine2" type="xs:string" form="qualified"/>
              <xs:element name="city" type="xs:string" form="qualified"/>
              <xs:element name="country" type="xs:string" form="qualified"/>
              <xs:element name="state" type="xs:string" form="qualified"/>
              <xs:element name="postalCode" type="xs:string" form="qualified"/>
              <xs:element name="accountId" type="xs:long" form="qualified"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:element name="GetAllAccountsRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="base64Token" type="xs:string" form="qualified"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:element name="GetAllAccountsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="account" form="qualified" maxOccurs="unbounded">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="id" type="xs:long" form="qualified"/>
              <xs:element name="lastName" type="xs:string" form="qualified"/>
              <xs:element name="firstName" type="xs:string" form="qualified"/>
              <xs:element name="loginName" type="xs:string" form="qualified"/>
              <xs:element name="accountType" type="xs:int" form="qualified"/>
              <xs:element name="countryId" type="xs:long" form="qualified"/>
              <xs:element name="countryName" type="xs:string" form="qualified"/>
              <xs:element name="countryIsoName" type="xs:string" form="qualified"/>
              <xs:element name="stateProvince" type="xs:string" form="qualified"/>
              <xs:element name="cityName" type="xs:string" form="qualified"/>
              <xs:element name="address" type="xs:string" form="qualified"/>
              <xs:element name="zipcode" type="xs:string" form="qualified"/>
              <xs:element name="phoneNumber" type="xs:string" form="qualified"/>
              <xs:element name="email" type="xs:string" form="qualified"/>
              <xs:element name="defaultPaymentMethodId" type="xs:long" form="qualified"/>
              <xs:element name="allowOffersPromotion" type="xs:boolean" form="qualified"/>
              <xs:element name="internalUnsuccessfulLoginAttempts" type="xs:int" form="qualified"/>
              <xs:element name="internalUserBlockedFromLoginUntil" type="xs:long" form="qualified"/>
              <xs:element name="internalLastSuccesssulLogin" type="xs:long" form="qualified"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:element name="GetCountriesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="tns:Country" maxOccurs="unbounded"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:element name="PaymentMethodUpdateRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="accountId" type="xs:long" form="qualified"/>
        <xs:element name="paymentMethod" type="xs:int" form="qualified"/>
        <xs:element name="base64Token" type="xs:string" form="qualified"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:element name="PaymentMethodUpdateResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="StatusMessage" form="qualified">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="success" type="tns:responseReason" form="qualified"/>
              <xs:element name="userId" type="xs:long" form="qualified"/>
              <xs:element name="reason" type="xs:string" form="qualified"/>
              <xs:element name="token" type="xs:string" form="qualified"/>
              <xs:element name="sessionId" type="xs:string" form="qualified"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:element name="PaymentPreferences">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="preference" form="qualified" maxOccurs="unbounded">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="paymentMethod" type="xs:int" form="qualified"/>
              <xs:element name="cardNumber" type="xs:string" form="qualified"/>
              <xs:element name="expirationDate" type="xs:string" form="qualified"/>
              <xs:element name="cvvNumber" type="xs:string" form="qualified"/>
              <xs:element name="safePayUsername" type="xs:string" form="qualified"/>
              <xs:element name="safePayPassword" type="xs:string" form="qualified"/>
              <xs:element name="customerName" type="xs:string" form="qualified"/>
              <xs:element name="preferenceId" type="xs:long" form="qualified"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:element name="PaymentPreferencesDto">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="paymentMethod" type="xs:int" form="qualified"/>
        <xs:element name="cardNumber" type="xs:string" form="qualified"/>
        <xs:element name="expirationDate" type="xs:string" form="qualified"/>
        <xs:element name="cvvNumber" type="xs:string" form="qualified"/>
        <xs:element name="safePayUsername" type="xs:string" form="qualified"/>
        <xs:element name="safePayPassword" type="xs:string" form="qualified"/>
        <xs:element name="customerName" type="xs:string" form="qualified"/>
        <xs:element name="preferenceId" type="xs:long" form="qualified"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:element name="PaymentPreferencesStatusResponse" nillable="true" type="xs:anyType"/>

  <xs:element name="UpdateMasterCreditMethodRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="userId" type="xs:long" form="qualified"/>
        <xs:element name="cardNumber" type="xs:string" form="qualified"/>
        <xs:element name="expirationDate" type="xs:string" form="qualified"/>
        <xs:element name="cvvNumber" type="xs:string" form="qualified"/>
        <xs:element name="customerName" type="xs:string" form="qualified"/>
        <xs:element name="referenceId" type="xs:long" form="qualified"/>
        <xs:element name="base64Token" type="xs:string" form="qualified"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:element name="UpdateMasterCreditMethodResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="StatusMessage" form="qualified">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="success" type="tns:responseReason" form="qualified"/>
              <xs:element name="id" type="xs:long" form="qualified"/>
              <xs:element name="reason" type="xs:string" form="qualified"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:element name="UpdateSafePayMethodRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="userId" type="xs:long" form="qualified"/>
        <xs:element name="safePayUsername" type="xs:string" form="qualified"/>
        <xs:element name="safePayPassword" type="xs:string" form="qualified"/>
        <xs:element name="referenceId" type="xs:long" form="qualified"/>
        <xs:element name="base64Token" type="xs:string" form="qualified"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:element name="UpdateSafePayMethodResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="StatusMessage" form="qualified">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="success" type="tns:responseReason" form="qualified"/>
              <xs:element name="id" type="xs:long" form="qualified"/>
              <xs:element name="reason" type="xs:string" form="qualified"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:element name="GetAccountFieldsRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="field" type="xs:string" form="qualified"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:element name="GetAccountFieldsResponse">
    <xs:complexType>
      <xs:sequence>
          <xs:element name="id" type="xs:long" form="qualified"/>
          <xs:element name="lastName" type="xs:string" form="qualified"/>
          <xs:element name="firstName" type="xs:string" form="qualified"/>
          <xs:element name="loginName" type="xs:string" form="qualified"/>
          <xs:element name="accountType" type="xs:int" form="qualified"/>
          <xs:element name="countryId" type="xs:long" form="qualified"/>
          <xs:element name="countryName" type="xs:string" form="qualified"/>
          <xs:element name="countryIsoName" type="xs:string" form="qualified"/>
          <xs:element name="stateProvince" type="xs:string" form="qualified"/>
          <xs:element name="cityName" type="xs:string" form="qualified"/>
          <xs:element name="address" type="xs:string" form="qualified"/>
          <xs:element name="zipcode" type="xs:string" form="qualified"/>
          <xs:element name="phoneNumber" type="xs:string" form="qualified"/>
          <xs:element name="email" type="xs:string" form="qualified"/>
          <xs:element name="defaultPaymentMethodId" type="xs:long" form="qualified"/>
          <xs:element name="allowOffersPromotion" type="xs:boolean" form="qualified"/>
          <xs:element name="internalUnsuccessfulLoginAttempts" type="xs:int" form="qualified"/>
          <xs:element name="internalUserBlockedFromLoginUntil" type="xs:long" form="qualified"/>
          <xs:element name="internalLastSuccesssulLogin" type="xs:long" form="qualified"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:complexType name="CountryStatusResponse">
    <xs:sequence>
      <xs:element name="success" type="tns:responseReason" form="qualified"/>
      <xs:element name="countryId" type="xs:long" form="qualified"/>
      <xs:element name="reason" type="xs:string" form="qualified"/>
    </xs:sequence>
  </xs:complexType>

  <!--<xs:complexType name="countryName">
    <xs:restriction base="xs:string">
      <xs:enumeration value="USA" />
      <xs:enumeration value="ISR" />
      <xs:enumeration value="UK" />
    </xs:restriction>
  </xs:complexType>-->

  <xs:simpleType name="responseReason">
    <xs:restriction base="xs:boolean">
    </xs:restriction>
  </xs:simpleType>

  <!--<xs:simpleType name="ValuesType">-->
    <!--<xs:restriction base="xs:string">-->
      <!--<xs:enumeration value="00001" />-->
      <!--<xs:enumeration value="00002" />-->
      <!--<xs:enumeration value="00003" />-->
    <!--</xs:restriction>-->
  <!--</xs:simpleType>-->

  <!--<xs:complexType name="OptionType">-->
    <!--<xs:sequence>-->
      <!--<xs:element name="key" type="ValuesType" />-->
      <!--<xs:element name="label" type="xs:string" />-->
    <!--</xs:sequence>-->
  <!--</xs:complexType>-->

  <xs:simpleType name="CountryIdEnum1">
    <xs:restriction base="xs:string">
      <xs:enumeration value="US">
        <xs:annotation>
          <xs:appinfo>
            <xs:EnumerationValue>1</xs:EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="IL">
        <xs:annotation>
          <xs:appinfo>
            <xs:EnumerationValue>2</xs:EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="DE">
        <xs:annotation>
          <xs:appinfo>
            <xs:EnumerationValue>3</xs:EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
    </xs:restriction>
  </xs:simpleType>



</xs:schema>
